# Gradle files
.gradle/
build/
/*/build/
.kotlin/
.ksp/

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
.navigation/
captures/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries

# Local configuration file (contains local paths, SDK location, etc.)
local.properties

# Log files
*.log
log/
logs/

# Keystores & sensitive credentials
*.jks
*.keystore
*.pepk

# OS files
.DS_Store
Thumbs.db

# Diagnostic / testing reports
/*/build/reports/
/*/build/test-results/
.cxx/
.externalNativeBuild/
captures/
leakcanary/

